/* Classes globais */
body {
    font-family: 'Raleway', sans-serif !important;
}

button {
    width: 133px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
}



/* Classes globais */

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-logo{
    width: 100px;
}

.menu-button {
    
    color: #2A7AE4;
    box-sizing: border-box;
    background: #FFFFFF;
    
}

.search {
    font-size: 1.2rem;
}
/* Menu */

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 192px;
    width: 100vw;
    background: green;
    /* background: url(../img/banner-image.png) no-repeat; */
    background-size: 100%;
    gap: 8px;
}

section h2 {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 26px;
}

section h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}

.banner-button {
    background: #2A7AE4;
    color: #FFFFFF;
}
/* Banner */


/* Sections */
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    padding: 16px;
    gap: 16px;
}

.section h2 {
    color:#464646;
}

a {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    text-decoration: none;
    gap: 5px;
    color:#2A7AE4;
}

a p {
    font-size: 14px;
    font-weight: 700;
}

a i {
    font-size: 17px;
}
/* Sections */


/* Product */
.product {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-name {
    font-size: 14px;
    color: #464646;
    font-weight: 500;
    line-height: 16px;
}

.product-value {
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    line-height: 19px;
}
/* Product */


/* Footer */
.footer-box {
    display: grid;
    grid-template-rows: auto 1fr auto auto ;
    grid-template-columns: auto;
    gap: 16px;
    align-items: center;
    background: #EAF2FD;
}

footer img {
    margin: auto;
    padding: 16px 0px 0px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-menu li a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #464646;
}

.footer-form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 229px;
    margin-top: 16px;
    padding: 0px 16px;
}

.form-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 8px;
}

.form-name, .form-text {
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px#C8C8C8;
    font-size: 16px;
    font-weight: 400;
    color: #464646;
}

.form-name {
    margin-bottom: 16px;
    height: 56px;
    padding: 18px 12px 8px;
    box-sizing: border-box;
}

.footer-form span {
    position: absolute;
    z-index: 3;
    color: #A2A2A2;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    top: 34px;
    left: 28px;
}

.form-text {
    margin-bottom: 8px;
    height: 82px;
    padding: 16px 12px;
    box-sizing: border-box;
}

.form-text::placeholder {
    position: absolute;
    color: #A2A2A2;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.form-button {
    background: #2A7AE4;
    width: 151px;
    border: none;
    color: #FFFFFF;
    height: 40px;
    padding: 12px 16px;
}

address {
    background: #FFFFFF;
    width: 100vw;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #464646;
}


/* Footer */