/* Classes globais */
body {
    font-family: 'Raleway', sans-serif !important;
}

button {
    width: 133px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
}



/* Classes globais */

/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-logo{
    width: 100px;
}

.menu-button {
    
    color: #2A7AE4;
    box-sizing: border-box;
    background: #FFFFFF;
    
}

.search {
    font-size: 1.2rem;
}
/* Menu */

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 192px;
    width: 100vw;
    background: green;
    /* background: url(../img/banner-image.png) no-repeat; */
    background-size: 100%;
    gap: 8px;
}

section h2 {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 26px;
}

section h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}

.banner-button {
    background: #2A7AE4;
    color: #FFFFFF;
}
/* Banner */


/* Sections */
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    padding: 16px;
    gap: 16px;
}

.section h2 {
    color:#464646;
}

a {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    text-decoration: none;
    gap: 5px;
    color:#2A7AE4;
}

a p {
    font-size: 14px;
    font-weight: 700;
}

a i {
    font-size: 17px;
}
/* Sections */


/* Product */
.product {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-name {
    font-size: 14px;
    color: #464646;
    font-weight: 500;
    line-height: 16px;
}

.product-value {
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    line-height: 19px;
}
/* Product */
